/* body=========================================== */
#body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* preview all =================================== */
table, td {
  border: 1px solid black;
}
td {
  height: 85px;
  width: 120px;
  overflow: hidden;
}
/* preview: clothing ============================= */
/* #clothing-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
#clothing-cells {
  height: 120px;
  width: 85px;
  overflow: hidden;
}
#clothing-preview{
  width: auto;
  height: auto;
  max-width: 83px;
  max-height: 120px;
}
/* preview: other categories====================== */
#preview-display {
  display: flex;
  align-items: center;
  justify-content: center;
}
#image-preview{
  width: auto;
  height: auto;
  max-width: 118px;
  max-height: 83px;
}
/* clothing images  ============================== */

#clothing-image-module {
  display: flex;
  flex-direction: row;
}
.mainClothing {
  padding-left: 2px;
}
#mainClothing {
  max-width: 490px;
  width: auto;
  height: auto;
}
.image-description {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}

/* other photos ================================== */
#photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
}

#main {
  height: auto;
  width: auto;
  max-width: 690px;
  max-height: 490px;
}

/* Info section ================================== */
#info {
  width: 370px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.blue {
  color: #426C90;
  font-size: x-large;
}

.red {
  color: #CC0C00;
  font-size: x-large;
}

#size {
  height: 40px;
  width: 90px;
}
.colorButton {
  margin-right: 10px;
}

#quantityForm {
  display: flex;
  align-items: center;
}

#quantity {
  width: 40px;
  height: 30px;
  text-align: center;
}

.quantity {
  height: 25px;
  width:25px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: larger;
  border-radius: 50%;
}
#addCart {
  margin-top: 5px;
  height: 40px;
  width: 200px;
  background-color: #426C90;
  color: white;
}

